body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    background-color: #777777;
}

.top-container {
    width: 100%;
    height: 200px;
    background-color: #d6d6d6;
}

/* Styles for header container */
.header-container {
    width: 1200px;
    height: 200px;
    background-color: #d6d6d6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-area {
    width: 980px;
    height: 100%; 
    padding: 60px 10px; /* Top and bottom padding 60px, left and right padding 10px */
    box-sizing: border-box; 
    display: flex;
}

/* Styles for the container with logo and company name */
.company-container {
    display: flex;
    height: 100px; 
}

/* Styles for the company logo */
.company-logo {
    width: 100px;
    height: 100px;
    margin: 0 10px 0 10px;
}

/* Styles for the company name */
.company-name {
    font-size: 22px;
    font-weight: bold;
    color: #777777;
    display: block;
}

/* Styles for the company subtitle */
.company-subtitle {
    font-size: 15px;
    color: #8b8989;
    display: block;
    margin-top: 10px; /* Reduce margin to bring it closer to the company name */
}

/* Styles for number container */
.numbers-container {
    margin-left: 475px;
}

/* Styles for phone numbers */
.phone-number {
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif; 
    color: #8b8989;
    margin-top: 10px; /* Indent from top */
    text-decoration: none; 

}

.top-menu-container {
    width: 100%;
    height: 60px; 
    background-color: #777777; 
}

.menu-container {
    width: 1200px; 
    height: 60px; 
    background-color: #777777; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-list a:hover {
    text-decoration: underline; 
}
.menu-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center;
}

.menu-list li {
    margin-right: 60px; 
    position: relative; 
}

.menu-list li:not(:last-child)::after {
    content: "|"; /* Set the vertical dividing line symbol */
    position: absolute;
    right: -30px; /* Position the dividing line relative to the right edge of the item */
    top: 50%;
    transform: translateY(-50%); /* Align vertically */
    font-weight: bold; 
    font-size: 20px;
    color: #ffffff; 
}

.menu-list li a {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 22px;
}

.top-picture-container {
    width: 100%;
    height: 350px; 
    background-color: #f8f8f8; 
}

.picture-content {
    width: 1200px;
    height: 350px; 
    background-color: #f8f8f8;
    margin: 0 auto; 
    box-sizing: border-box; 
    display: flex;  
    justify-content: center;
}

/* Styles for news container */
.news-container {
    width: 100%;
    height: 700px; 
    background-color: #ffffff; 
}

/* Styles for internal news container */
.news-work-area {
    width: 1200px;
    height: 100%; 
    background-color: #ffffff;
    margin: 0 auto; 
    padding: 30px 130px; 
    box-sizing: border-box; 
    display: flex;
}

/* Styles for news container */
.news-content {
    width: 370px;
    height: 530px;
    background-color: #777777; 
    padding: 10px 30px 0 20px;
    box-sizing: border-box; 
    position: relative;
}

/* Styles for the news title */
.news-title {
    font-size: 33px;
    font-weight: bold;
    color: #ffffff;  
    margin: 10px 0 17px 0;
}

/* Styles for news list */
.news-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

/* Styles for news list items */
.news-list li {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 25px; 
}

/* Updated styles for news dates */
.news-date {
    font-style: italic;
    margin-bottom: 0px; 
    display: block; 
}

/* Styles for "News Archive" text */
.news-archive {
    font-size: 14px;
    text-align: right; 
    position: absolute; 
    margin: 10px 30px 50px 210px;
}

/* Styles for "News Archive" links */
.news-archive a {
    color: #ffffff; 
    text-decoration: underline; 
}

/* Styles for our studio container */
.studio-container {
    width: 600px;
    height: 510px;  
    background-color: #ffffff;
    margin-left: 40px; 
    padding: 10px; 
}

/* Styles for our studio header */
.studio-title {
    font-size: 40px;
    color: #333333;
    margin-bottom: 15px;
}

/* Styles for text in our studio */
.studio-container p {
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 20px;
}

.footer-container {
    width: 100%;
    height: 100%;
    background-color: #777777;
}

.footer-work-area {
    width: 1200px;
    height: 100%;
    background-color: #777777;
    margin: 0 auto;
    padding: 40px 130px;
    box-sizing: border-box;
    display: flex;
}

/* Styles for container with copyright */
.copyright-container {
    width: 280px;
    height: 100px; 
    text-align: left;
    background-color: #777777;
}

/* Styles for the copy text */
.copyright-container p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

/* Styles for container with links */
.links-container {
    margin-left: 125px;
    width: 150px;
    text-align: left;
    background-color: #777777;
}

/* Styles for vertical link list */
.footer-links {
    width: 120px;
    list-style-type: none;
    padding: 0;
    margin-left: 90px;
}

/* Styles for link list items */
.footer-links li {
    margin-bottom: 8px;
}

/* Styles for links */
.footer-links a {
    text-decoration: underline;
    font-size: 14px;
    color: #ffffff;
}

/* Styles for the company container */
.company-logo-container {
    width: 38px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for company logo */
.company-logo-small {
    margin-left: 520px;
    width: 30px;
    height: 30px;
}

/* Styles for the site development container */
.development-container {
    background-color: #777777;
    width: 200px;
    height: 60px;
    font-size: 14px;
    color: white;
    text-align: start;
    margin-left: 260px;
}

.development-container p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

/* Styles for the link in the site development container */
.development-container a {
    text-decoration: underline;
    color: #ffffff;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

